{% extends 'base.html.twig' %}

{% block content %}

    <!-- Formulaire -->
    <div class="text-center">

        <h1>Formulaire de demande de récupération de mot de passe</h1>
        {{ form_start(form) }}

            {{ form_row(form.licence_number, {
                'attr': {'class': 'text-field', 'placeholder': 'Numéro de licencié'}
            }) }}

            {{ form_row(form.adresse_mail, {
                'attr': {'class': 'text-field', 'placeholder': 'Adresse Mail'}
            }) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
