{% extends 'base.html.twig' %}

{% block content %}

    <div class="modal fade" id="NoUser" tabindex="-1" role="dialog" aria-labelledby="licenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="licenceModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aucun utilisateur trouvé avec ces informations
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary  text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yelllow-600 dark:hover:bg-yellow-500 dark:focus:ring-yellow-500" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NoData" tabindex="-1" role="dialog" aria-labelledby="licenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="licenceModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Vous devez fournir votre numéro de licence ou votre adresse email
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary  text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yelllow-600 dark:hover:bg-yellow-500 dark:focus:ring-yellow-500" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {% if app.flashes('danger') %}
        <script>
            $(document).ready(function(){
                $('#NoData').modal('show');
            });
        </script>
    {% endif %}

    {% if app.flashes('error') %}
        <script>
            $(document).ready(function(){
                $('#NoUser').modal('show');
            });
        </script>
    {% endif %}

    <!-- Formulaire -->
    <div class="mt-14 sm:mx-auto sm:w-full sm:max-w-sm">

        <h1 class="mt-6 text-center text-2xl font-bold leading-10 tracking-tight text-gray-900">Formulaire de demande de récupération de mot de passe</h1>
        {{ form_start(form) }}

        <div class="mt-2">
            {{ form_row(form.licence_number, {
    'attr': {'class': 'block w-full rounded-md border border-gray-300 py-2 text-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-5',
        'placeholder': 'Numéro de licencié' }
}) }}
</div>

            <div class="mt-2">
            {{ form_row(form.adresse_mail, {
                'attr': {'class': 'block w-full rounded-md border border-gray-300 py-2 text-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-5', 
                'placeholder': 'Adresse Mail'}
            }) }}
</div>

    <div class="mt-4 flex justify-center">
        {{ form_end(form)}}
    </div>
        
    </div>

{% endblock %}
