{% extends 'base.html.twig' %}

{% block content %}

    <div class="modal fade" id="mdpNon" tabindex="-1" role="dialog" aria-labelledby="licenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="licenceModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Les mots de passe ne correspondent pas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {% if app.flashes('error') %}
        <script>
            $(document).ready(function(){
                $('#mdpNon').modal('show');
            });
        </script>
    {% endif %}

    <!-- Formulaire -->
    <div class="text-center">

        <h1>Formulaire de rénitialisation de mot de passe</h1>
        {{ form_start(form) }}

            {{ form_row(form.new_pass, {
                'attr': {'class': 'text-field', 'placeholder': 'Nouveau mot de passe'}
            }) }}

            {{ form_row(form.confirm_pass, {
                'attr': {'class': 'text-field', 'placeholder': 'Confirmer'}
            }) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
