{# templates/securite/licensecheck.html.twig #}

{% extends "base.html.twig" %}
{% block content %}

    <!-- Formulaire -->
    <div class="text-center">
        <h1>Votre demande a bien été prise en compte</h1>
    </div>
{% endblock %}
