<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maison Des Ligues</title>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/Mdl.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <header class="bg-white shadow">
        <div class="mx-auto py-4 px-4 flex justify-between items-center">

            <!-- Logo à l'extrême gauche -->
            <a href="{{ path('app_base') }}" class="flex-shrink-0 w-20">
                <img src="{{ asset('build/images/Mdl.png') }}" alt="Logo">
            </a>

            <!-- Textes à l'extrême droite -->
            <div class="flex text-base font-bold text-gray-800">
                <div class="mr-4">Inscription</div>
                <div>Réservation</div>
            </div>
        </div>
    </header>
    <body class=" bg-stone-400 w-[100%] ">
        <div class="w-[100%] flex justify-center">
            {% block content %}
            {% endblock %}
        </div>
    </body> 
</html>