{# templates/securite/licensecheck.html.twig #}

{% extends "base.html.twig" %}
{% block content %}

    <!-- Texte -->
    <div class="text-center">
        <h1>Votre demande a été prise en compte, vérifiez votre boite mail</h1>
    </div>

{% endblock %}
