{% extends "base.html.twig" %}
{% block content %}
    {% for atelier in ateliers %}
        <h2 class="text-xl font-bold mb-4">{{ atelier.libelle }}</h2>
        <ul>
            {% for theme in atelier.themes %}
                <li>{{ theme.libelle }}</li>
                {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}